body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.header-container{
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(64, 98, 167);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 5% 5%;
    z-index: -1;
}

.menu-itens a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    letter-spacing: 2px;
}

.menu-itens a:hover {
    color: black;
    background-color: white;
    border: 3px white;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

#img-perfil {
    height: 350px;
    width: 300px;
    border-radius: 50%;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    max-width: 100%;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    max-width: 100%;
}

.social-media{
    margin-bottom: 500px;
    display: flex;
    max-width: 100%;
}

.social-media a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    
}

.social-media a:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 1rem 4rem;
}
